.text-success {
    --bs-text-opacity: 1;
    color: #ff9100 !important;
}
nav.bg-beige {
    background-color: #f57701 !important; 
  }
  
.contact-info{
    font-size: 12px;
  }
  .nav-links{
    font-size: 19px;
    font-weight: 500;
    color: #212934 !important;
  }
  .nav-links:hover{
    color: rgb(155, 146, 97) !important;
  }
  .nav-items{
    margin-right: 100px;
    padding: 5px;
  }
  .nav-icon{
    margin-right: 15px;
  }
  .cart{
    top: 1rem;
    right: 3.4rem;
    padding: 0px 6px;
    font-size: small;
    background: rgb(221, 221, 221);
  }
  .user{
    top: 1rem;
    right: 0.3rem;
    padding: 0px 6px;
    font-size: small;
    background: rgb(221, 221, 221);
  }

  .s-image{
    padding: 40px;
    width: 700px;
    margin-right: 5px;
  }

  .title{
    --bs-text-opacity: 1;
    color:#f77002 !important;
    font-size: 60px;
  }

  .discription{
    font-size: 40px ;
    line-height: 40px;
  }

  .d-info{
    font-size: 20px;
    line-height: 30px;
  }

  .background{
    background-color: #ffffff;
  }

.c-image{
    height: 290px;
}

.logo ul li{
    padding: 15px;
    font-weight: 700;
  }
  .list li{
    padding-bottom: 10px;
    font-size: 20px;
  }
  .list li a:hover{
    color: green !important;
    transition: 0.2s ease-in-out;
  }
  .f-links{
    padding: 8px;
  }
  .f-links:hover{
    background: #efefef;
    color: black;
    transition: 0.3s ease-in-out;
  }
  .f-email{
    padding: 11px;
  }



  .service-icon-wap:hover i, .service-icon-wap:hover{
    color: white !important;
    background: #f77002 ;
    transition: 0.3s ease-in-out;
  }

 
